@model IEnumerable<Goodhue.Models.Reservation>

@{
    ViewBag.Title = "Schedule";
}
<div class="row">
    <h2 class="col-sm-10">Schedule: @ViewBag.Car.Make @ViewBag.Car.Model @ViewBag.Car.Color @ViewBag.Car.Year</h2>
    <h2 class="col-sm-2">@Html.ActionLink("Checkout", "Create", "Reservations", new { id = ViewBag.Car.ID }, null)</h2>
</div>
<table class="table sortable">
    <tr>
        <th>
            Car ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsActive && item.CarId == ViewBag.Car.ID)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Return", "Return", new { id = item.CarId, reservationId = item.ID, })
                </td>
            </tr>
        }
    }
</table>