@model IEnumerable<Goodhue.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<div class="row">
    <h2 class="col-md-8">Users @ViewBag.Role</h2>
    @using (Html.BeginForm("Filter", "Roles", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <h2 class="col-md-2">
            <select class="form-control single-line" id="role" name="role" type="text">
                <option value="All">All Roles</option>
                <option value="Admin">Admin</option>
                <option value="Emailed_Comments">Emailed_Comments</option>
                <option value="Super_Admin">Super_Admin</option>
            </select>
        </h2>
        <h2 class="col-md-2">
            <input class="btn btn-primary" type="submit" value="Filter" />
        </h2>
    }
</div>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-defaultsort='disabled'></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>