@using Microsoft.AspNet.Identity
@model IEnumerable<Goodhue.Models.Car>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/Goodhue_county.png" height="100">
        </div>
        <div class="col-md-10">
            <h1>Goodhue County Car Share</h1>
        </div>
    </div>
</div>

<div class="row">
    <form action="" method="post">
        <div class="col-sm-3"><h2>Find Available Car:</h2></div>
        <div class="col-sm-2"><label>For x Hours</label><input class="form-control text-box single-line" data-val="true" id="duration" name="duration" type="number" value=""></div>
        <div class="col-sm-2"><label>Starting on</label><input class="form-control text-box single-line" data-val="true" id="StartDate" name="StartDate" type="date" value=""></div>
        <div class="col-sm-2"><label>At</label><input class="form-control text-box single-line" data-val="true" data-val-required="The End Date field is required." id="EndDate" name="EndDate" type="time" value=""></div>
        <div class="col-sm-1"><br /><input class="btn btn-primary" type="submit" value="Search" /></div>
    </form>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Cars")
    </p>
}
<table class="table sortable">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilChangeMiles)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.NextReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextUser)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsAvailable)
        {
            <tr>
                <td>
                    <img style="height:70px;" src=@item.ImageURL />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Odometer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilChangeMiles)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.NextReservation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextUser)
                </td>
                <td>
                    @Html.ActionLink("Select", "Schedule", "Reservations", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    @*@Html.ActionLink("Details", "Details", "Cars", new { id = item.ID }, null) |*@
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", "Cars", new { id = item.ID }, null)
                    
                    }
                
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", "Cars", new { id = item.ID }, null)
                        <span>|</span>
                        @Html.ActionLink("Comments", "Comments", "Cars", new { id = item.ID }, null)
                    }
                </td>
            </tr>
        }
    }

</table>
@if (User.IsInRole("Admin"))
{
    <h2>Unavailable Cars</h2>
    <table class="table sortable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilChangeMiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextUser)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (!item.IsAvailable)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Odometer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilChangeMiles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextReservation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextUser)
                    </td>
                    <td>
                        @*@Html.ActionLink("Schedule", "Schedule", "Reservations", new { id = item.ID }, null) |*@
                        @Html.ActionLink("Details", "Details", "Cars", new { id = item.ID }, null)
                        @*@Html.ActionLink("Checkout", "Create", "Reservations", new { id = item.ID }, null)*@
                        @if (User.IsInRole("Admin"))
                        {
                            <span>|</span>
                            @Html.ActionLink("Edit", "Edit", "Cars", new { id = item.ID }, null)

                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", "Cars", new { id = item.ID }, null)
                        }
                    </td>
                </tr>
            }
        }

    </table>
}