@model Goodhue.Models.Reservation

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Checkout: @ViewBag.Car.Description (@ViewBag.Car.ID)</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", id = "checkoutTime", type = "text", value = ViewBag.Start, placeholder = "mm/dd/yyyy --:-- --" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-offset-2 col-md-5 text-danger field-validation-error">@ViewBag.Message</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", id = "returnTime", type = "text", value = ViewBag.End, placeholder = "mm/dd/yyyy --:-- --" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-offset-2 col-md-5 text-danger field-validation-error">@ViewBag.Message</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control", placeholder = "City, county, etc."} })
                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control single-line" id="Department" name="Department" type="text">
                    <option value="Administration">Administration</option>
                    <option value="Assessor">Assessor</option>
                    <option value="Attorney">Attorney</option>
                    <option value="Court Services">Court Services</option>
                    <option value="Extension">Extension</option>
                    <option value="Finance">Finance</option>
                    <option value="Facilities/Maintenance">Facilities/Maintenance</option>
                    <option value="Grants">Grants</option>
                    <option value="HHS">HHS</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="IT">IT</option>
                    <option value="Land Use">Land Use</option>
                    <option value="Public Works">Public Works</option>
                    <option value="Recorder">Recorder</option>
                    <option value="Sheriff">Sheriff</option>
                    <option value="Veterans Service">Veterans Service</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Grant Info</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="grant" name="grant" type="text" placeholder="Optionally enter in details for grants">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reserve" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Schedule", "Schedule", new { id = ViewBag.Car.ID })
</div>

@*<script>
    var start = new moment(@ViewBag.Start, "MM/DD/YYYY hh:mm:ss A");
    var end = new moment(@ViewBag.End, "MM/DD/YYYY hh:mm:ss A");
    $('#checkoutTime').bootstrapMaterialDatePicker({ format: 'MM/DD/YYYY hh:mm A', shortTime: true, currentDate: start });
    $('#returnTime').bootstrapMaterialDatePicker({ format: 'MM/DD/YYYY hh:mm A', shortTime: true, currentDate: end });
</script>*@
@Scripts.Render("~/Scripts/datetimepickers.js")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}