@model Goodhue.Models.Reservation

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Checkout: @ViewBag.Car.Description (@ViewBag.Car.ID)</h2>
        <h4>From @ViewBag.Start to @ViewBag.End</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control", placeholder = "City, county, etc."} })
                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control single-line" id="Department" name="Department" type="text">
                    <option value="Administration">Administration</option>
                    <option value="Assessor">Assessor</option>
                    <option value="Attorney">Attorney</option>
                    <option value="Court Services">Court Services</option>
                    <option value="Extension">Extension</option>
                    <option value="Finance">Finance</option>
                    <option value="Facilities/Maintenance">Facilities/Maintenance</option>
                    <option value="HHS">HHS</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="IT">IT</option>
                    <option value="Land Use">Land Use</option>
                    <option value="Public Works">Public Works</option>
                    <option value="Recorder">Recorder</option>
                    <option value="Sheriff">Sheriff</option>
                    <option value="Veterans Service">Veterans Service</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Grant Info</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="grant" name="grant" type="text" placeholder="Optionally enter in details for grants">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reserve" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Schedule", "Schedule", new { id = ViewBag.Car.ID })
</div>

@Scripts.Render("~/Scripts/datetimepickers.js")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}