@model IEnumerable<Goodhue.Models.Reservation>

@{
    ViewBag.Title = "Day";
}

<div class="row">
    <div class="col-md-8">
        <h2>Reservations on: @ViewBag.Day</h2>
    </div>
    @using (Html.BeginForm("Day", "Reservations", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <h2 class="col-md-2">
            <input class="form-control text-box single-line" data-val="true" id="date" name="date" type="text" placeholder="mm/dd/yyyy" />
        </h2>
        <h2 class="col-md-2">
            <input class="btn btn-primary" type="submit" value="Set Date" />
        </h2>
    }
</div>
<table class="table sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (User.Identity.Name == item.Username || User.IsInRole("Admin") || (User.IsInRole("Maintenance") && item.Username == "Maintenance"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>

<hr />
@Html.ActionLink("View Reservations by Car", "Index", "Cars")

@Scripts.Render("~/Scripts/datetimepickers.js")