@model IEnumerable<Goodhue.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}
<div class="row">
    <h2 class="col-sm-10">Reservations for: @ViewBag.Car.Description (@ViewBag.Car.ID)</h2>
    <h2 class="col-sm-2">@Html.ActionLink("Add New Reservation", "Create", "Reservations", new { id = ViewBag.Car.ID }, new { @class = "btn btn-primary"})</h2>
</div>
<table class="table sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (User.Identity.Name == item.Username || User.IsInRole("Admin") || (User.IsInRole("Maintenance") && item.Username == "Maintenance"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
                @if (item.Equals(ViewBag.NextRes))
                {
                    @Html.ActionLink("Return", "Return", new { id = item.CarId, reservationId = item.ID }, new { @class = "btn btn-primary btn-sm" })
                }
            </td>
        </tr>
    }
</table>
<hr />
@Html.ActionLink("Choose a Different Car", "Index", "Cars")