@model IEnumerable<Goodhue.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}
<div class="row">
    <h2 class="col-md-10">Reservations for: @ViewBag.Car.Description (@ViewBag.Car.ID)</h2>
</div>
<table class="table sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (User.Identity.Name == item.Username || User.IsInRole("Admin") || (User.IsInRole("Maintenance") && item.Username == "Maintenance"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
                @if (item.Equals(ViewBag.NextRes))
                {
                    @Html.ActionLink("Return", "Return", new { id = item.CarId, reservationId = item.ID }, new { @class = "btn btn-primary btn-sm" })
                }
            </td>
        </tr>
    }
</table>
<hr />

<div class="col-md-6"><br />@Html.ActionLink("Choose a Different Car", "Index", "Cars", null, new { @class = "btn btn-primary" })</div>
@using (Html.BeginForm("AddRes", "Reservations", FormMethod.Get, null))
{    
    <input id="carId" name="carId" type="hidden" value=@ViewBag.Car.ID />
    <div class="col-md-2">
        <label>Checkout Date &amp; Time</label>
        <input class="form-control text-box single-line" data-val="true" id="startDate" name="startDate" type="text" placeholder="mm/dd/yyyy --:-- --" />
    </div>
    <div class="col-md-2">
        <label>Return Date &amp; Time</label>
        <input class="form-control text-box single-line" data-val="true" id="endDate" name="endDate" type="text" placeholder="mm/dd/yyyy --:-- --" />
    </div>
    <div class="col-md-2">
        <br />
        <input class="btn btn-primary" type="submit" value="Add New Reservation" />
        <br />
        <p class="text-danger field-validation-error">@ViewBag.Error</p>
    </div>
}

@Scripts.Render("~/Scripts/datetimepickers.js")