@using Microsoft.AspNet.Identity
@model IEnumerable<Goodhue.Models.Car>

@{
    ViewBag.Title = "Find Car";
}

<h2>Select a Car to Reserve</h2>
<table class="table sortable">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilChangeMiles)
            </th>
        }
        @*<th>
            @Html.DisplayNameFor(model => model.NextReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextUser)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsAvailable)
        {
            <tr>
                <td>
                    <img style="height:70px; width:93.33px;" src=@item.ImageURL />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Odometer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilChangeMiles)
                    </td>
                }
                @*<td>
                    @Html.DisplayFor(modelItem => item.NextReservation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextUser)
                </td>*@
                <td>
                    @Html.ActionLink("Select", "Create", "Reservations", new { id = item.ID, start = ViewBag.Start, end = ViewBag.End  }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    }
</table>