@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
<hr />

<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Email : @Html.TextBox("Email")
    </p>
    <input class="btn btn-primary" type="submit" value="Get Roles for this User" />
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:lightgray;">
        <h4>Roles for this user </h4>
        <ol>
            @foreach (string role in ViewBag.RolesForThisUser)
            {
                <li>@role</li>
            }
        </ol>
    </div>
}

<hr />

<h3>Add Role to User</h3>

@using (Html.BeginForm("AddRoleToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Email : @Html.TextBox("Email")
        @if (ViewBag.Roles != null) {
            <div>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</div>
        }
        else
        {
            <div class="text-danger field-validation-error">No roles found</div>
        }
    </p>

    <input class="btn btn-primary" type="submit" value="Save" />
}
<hr />

<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleFromUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Email : @Html.TextBox("Email")
        @if (ViewBag.Roles != null)
        {
            <div>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</div>
        }
        else
        {
            <div class="text-danger field-validation-error">No roles found</div>
        }
    </p>

    <input class="btn btn-primary" type="submit" value="Delete this user from role" />
}
